@import 'styles/Variables';


.homeIntro {
  padding: 10rem 0 !important;
}

.content {
  p {
    text-align: center;
    font-family: "utopia-std-display", serif;
    font-size: 2.45rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.85rem;
    color: var(--color-primary);
  }
}

.heading h2 {
    text-align: center;
}

.numberItem {
  background-color: #fff;
  padding: 4rem 2rem;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  text-align: center;
  margin: 5rem 0 0 0;

  @media (max-width: $breakpoint-small) {
    grid-template-columns: 1fr;
  }
  
  p {
    margin: 0;
    color: var(--color-primary);
    font-family: "utopia-std-display", serif;
    font-size: 2.15rem;
    font-weight: 400;
    line-height: 3.25rem;
  }

}