.submenu-toggle { 
    
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-right: 10px;
    margin-left: -5px;
    padding: 0;
    color: #BD8B13;
    font-weight: 900;


    .visually-hidden {
        display: none;
    }

    .fa-chevron-down:before {
        // color: pink;
    }

}



.item-row {
        display: flex;
    justify-content: center;
    align-items: center;
}

